Package: com.dao.powercuff
Section: 嗨-工具
Maintainer: 刀刀源
Depends: firmware (>= 12.0), mobilesubstrate, preferenceloader
Description: 节能插件，效果自测，重新编译。
Name: Powercuff(rootless)
Author: Ryan Petrich <rpetrich+powercuff@gmail.com>
Conflicts: com.rpetrich.powercuff, byg.iosios.net.powercuff
Architecture: iphoneos-arm64
Version: 1.0
Installed-Size: 176
